.page{
	height: 100%;
	/*background-color: lime;*/
}
.hero_image{
	height: 560px;
	background:url(../img/37b37830947d452bb137d62e9c7dfe0d.gif)no-repeat center;
}
.hero_con{
	height: 420px;
	padding: 65px 20px 75px 20px;
}
.hero_overlay{
	height: 120px;
	margin-top: 300px;
	padding: 10px;
}
.hero_overlay p:nth-of-type(1) span{
	/*display: block;*/
	height: 56px;
	margin:0 auto;
	text-align: center;
	font-size: 15.5px;
	color:#182E4B;
}
.hero_overlay p{
	text-align: center;
}
.hero_overlay p:nth-of-type(2) span{
	/*display: block;*/
	padding: 8px 36px;
	border:1px solid #000000;
	border-radius: 5px;
	margin:0 auto;
	text-align: center;
	line-height: 85px;
	font-size: 14px;
	/*font-weight: bold;*/
}
.hero_overlay p:nth-of-type(2) span a{
	color:#182E4B;
}
.hero_overlay p:nth-of-type(2) span:hover{
	background-color: #DCC1B4;
}
.container{
	min-width: 100%;
	height: 100%;
	margin:0 auto;
	/*background-color: red;*/
}
.container_big{
	max-width: 1349px;
	height: 100%;
	margin: 0 auto;
}
.container_left{
	width: 100%;
	height: 217px;
	/*float: left;*/
	background:url(../img/MSR-chalk-background.jpg);
}
.container_left_boc{
	height: 132px;
	padding-top: 85px;
	padding-left: 30px;
	margin-left: 10px;
}
.container_left_boc img{
	width: 200px;
}
.container_right{
	width: 100%;
	height: 100%;
	background-color: #0F0F0F;
	/*float: left;*/
}
.container_right_top{
	padding: 25px 40px 25px 0px;
}
.container_right h1{
	font-size: 30px;
	color: #FFFFFF;
	font-weight: normal;
}
.container_right p{
	color: #FFFFFF;
	font-size: 16px;
}
.container_right_bottom{
	padding:0px 24px 30px 24px;
}
.sign_up_link{
	border-radius: 5px;
	background-color: #E3C383;
	padding:7px 35px;
	text-align: center;
	margin-right: 15px;
}
.sign_up_link a{
	color: #000000;
}
.sign_in_link{
	border-radius: 5px;
	border:1px solid #fff;
	padding:7px 35px;
	text-align: center;
}
.sign_in_link:hover{
	background-color: #333;
}
.sign_in_link a{
	color: #fff;
}
.content_stripe{
	width: 100%;
	height: 526px;
}
.container_box{
	width: 1270px;
	height: 386px;
	padding: 70px 20px;
	margin: 0 auto;
}
.container_box_left{
	width: 505px;
	height: 386px;
	text-align: center;
	padding:0px 40px;
	float: left;
}
.container_box_left img{
	width: 100%;
	height: 100%;
}
.container_box_right{
	width: 505px;
	height: 386px;
	padding:0 20px;
	float: right;
}
.container_box_right h2{
	margin-top: 100px;
}

