<div>
	<div class="page_bann"></div>
	<div class="page_section">
		<div class="page_section_v">
			<video controls="" poster="./img/30S 三周年（爱奇艺）.jpg" name="media" width="990px" height="500px">
				<source src="./img/30S 三周年（爱奇艺）.mp4" type="video/mp4">
			</video>
		</div>
	</div>
    <div class="page_Online">
    	<div class="page_Online_wrapper">
    		<div class="supplier-wrapper">
    			<div class="yuan">{{yuan}}</div>
    			<div class="content-desc">
    				<span class="desc-title">{{title}}</span>
    				<span class="desc-detail">{{detail}}</span>
    				<span class="desc-title">{{qiu}}</span>
    				<span class="desc-detail">{{ju}}</span>
    			</div>
    		    <div class="content-list">
    		    	<ul>
    		    		<li><span>快速配送到家</span></li>
    		    		<li><span>会员专享权益</span></li>
    		    	</ul>
    		    </div>
    		    <div class="content-more">
    		    	<a href="index-supplier.html">点击进入</a>
    		    </div>
    		</div>
    	</div>
    </div>
    <div class="page_white">
    	<div class="page_white_con">
    		<div class="freepay-wrapper">
    			<div class="freepay-content" ng-repeat="wrap in con">
    				<img ng-src="{{wrap.img}}" alt="" />
    				<div class="freepay-content-wrapper">
    					<div class="content-wrapper-title">{{wrap.title}}</div>
    				    <div class="content-wrapper-desc">
	    					{{wrap.desc}}
	    				</div>
	    				<div class="content-wrapper-horizonal">
	    					<ul>
	    						<li>{{wrap.hone}}</li>
	    						<li>{{wrap.htwo}}</li>
	    						<li>{{wrap.hthree}}</li>
	    					</ul>
	    				</div>
    				</div>
    				
    			</div>
    		</div>
    	</div>
    </div>
    <div class="page_hy">
    	<div class="page_hy_con">
    		<img src="./img/Emember-02.jpg" alt="" />
    	    <div class="page_hy_con_r">
    	    	<div class="yuan">电子会员</div>
    	    	<span class="desc-detail hui">
    	    		基于多点+新零售模式，通过整合线上线下用户使用场景，以会员需求为中心，为会员的生活提供更好服务。 截止目前，多点已在北京、杭州、银川、武汉等多个重点城市打通线上线下会员积分体系，为3000多万会员带来更好的购物体验。
    	    	</span>
    	    	<ul>
    	    		<li><span>1.打通线上、线下会员积分</span></li>
    	    		<li><span>2.线上线下 一码联动</span></li>
    	    	</ul>
    	    	<div class="content-more">
    	    		<a href="">点击进入</a>
    	    	</div>
    	    </div>
    	</div>
    </div>
    <div class="page_wei">
    	<div class="page_wei_mo">
    		<div class="yuan page_wei__title">多点微信</div>
    		<div class="page_wei__span">
    			多点Dmall，将柴米油盐搬上了网络，为你烹饪精神食粮，带你发现生活中的小美好。
    		</div>
    		<div class="content-more nat">
    	    	<a href="">点击进入</a>
    	    </div>
    	</div>
    </div>
    
</div>