<div class="page">
	<div class="hero_image">
		<div class="hero_con">
			<div class="hero_overlay">
				<p>
					<span>Exclusive deals on drinks, delivered straight to your inbox.</span>
				</p>
				<p>
					<span><a href="">SING UP NOW</a></span>
				</p>
			</div>
		</div>
	</div>
    <div class="container">
    	<div class="container_big">
	    	<div class="container_left">
	    		<div class="container_left_boc">
	    			<img src="./img/msr3_usen_logo.svg" />
	    		</div>
	    	</div>
	    	<div class="container_right">
	    		<div class="container_right_top">
	    			<h1>Make every sip more rewarding</h1>
	    		    <p>Join Starbucks Rewards™ to earn Gold level benefits like free drinks and food, get free refills, pay and order with your phone, and more.</p>
	    		</div>
	    		<div class="container_right_bottom">
	                    <span class="sign_up_link">
	                    	<a href="">Join Now</a>
	                    </span> 
	                    <span class="sign_in_link">
	                    	<a href="">Sign In</a>
	                    </span>
	            </div>
	    	</div>
    	</div>
    </div>
    <div class="content_stripe" ng-repeat="item in container">
    	<div class="container_box">
    		<div class="container_box_left">
    				<img src="{{item.img}}" alt="" />
    		</div>
    		<div class="container_box_right">
    			<h2>{{item.h2}}</h2>
    			<p>{{item.p}}</p>
    			<span class="">
                        <a href="" class="">{{item.span}}</a>
                </span>
    		</div>
    	</div>
    </div>
</div>
